<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:fragment="headTag">
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Title</title>
	<!-- Bootstrap CSS -->
	<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/web/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<!-- MetisMenu css -->
	<link href="../../../resources/css/metisMenu.min.css" th:href="@{/resources/css/metisMenu.min.css}" rel="stylesheet" type="text/css" />
    <!-- Timeline CSS -->
    <link href="../../../resources/css/timeline.css"  th:href="@{/resources/css/timeline.css}"  rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="../../../resources/css/custom.css"  th:href="@{/resources/css/custom.css}"  rel="stylesheet" type="text/css" />
    <!-- Morris Chart CSS -->
    <link href="../../../resources/css/morris.css"  th:href="@{/resources/css/morris.css}"  rel="stylesheet" type="text/css" />
    <!-- Awesome Fonts -->
    <link href="http://cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.min.css" th:href="@{/web/awesome/4.6.2/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	
	<!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js" th:src="@{/web/html5shiv/3.7.2/html5shiv.min.js}"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js" th:src="@{/web/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
	<!-- JQuery JS -->
	<script src="http://cdn.bootcss.com/jquery/2.1.0/jquery.min.js" th:src="@{/web/jquery/2.1.0/jquery.min.js}"></script>
	<!-- Bootstrap JS -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/web/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<!-- MetisMenu JS -->
	<script src="../../../resources/metisMenu.min.js" th:src="@{/resources/js/metisMenu.min.js}"></script>
	<!-- Raphael JS -->
	<script src="http://cdn.bootcss.com/raphael/2.2.0/raphael-min.js" th:src="@{/resources/js/raphael-min.js}"></script>
	<!-- Morris JS -->
	<script src="http://cdn.bootcss.com/morris.js/0.5.1/morris.min.js" th:src="@{/resources/js/morris.min.js}"></script>
	<!-- Custom JS -->
	<script src="../../../resources/custom.js" th:src="@{/resources/js/custom.js}"></script>

</head>

<body>
</body>

</html>




